.sucses-sayfasi {
    background-color: #CE2829;
    color: white;
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 40px 20px;
}

.baslik-alani {
    text-align: center;
}

.logo {
    width: 200px;
    margin-bottom: 10px;
}

.slogan {
    font-family: 'Satisfy', cursive;
    font-size: 25px;
    color: #FDC913;
    margin-bottom: 0.5rem;
    margin-top: 3rem;
}

.baslik-alani h1 {  
    font-size: 70px;
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.baslik-alani hr {
    
    width: 100%;
    margin-top: 2.5rem;
}

.siparis-ozeti {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;}

    
.ozett {
    text-align: left;
    flex-wrap: wrap;
    justify-content: flex-start;   
    width: 50%;             
}




h3 {
    font-size: 20px;
    margin-bottom: 3rem;
}

.siparis-ozeti p {
    margin: 5px 0;
}

.fiyat-kutusu {
    
    border: 1px solid #FAF7F2;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    width: 75%;
}

.fiyat-kutusu p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;

}
.fiyat-kutusu h4{
   padding: 0;
}